INDEX

<br>
<br>
<br>
<br>

<ul>
<% User.all.each do |user| %>
  <li>
    <span><%= user.name %></span>
    <%= link_to 'Login as', dashboard_path(id: user.token) %>
  </li>
<% end %>
</ul>
<br>
<br>
<br>

<%= form_tag(users_path, remote: true, 'data-type' => :json) do %>
  <p>Create user</p>
  <%= text_field_tag 'name' %>
  <%= submit_tag 'Submit' %>
<% end %>
