<h1 id='dashboard'><%= @current_user.name %></h1>

<ul>
<% User.all.each do |user| %>
  <li>
    <span><%= user.name %></span>
    <% unless @current_user.id == user.id %>
      | <span class='make_call' data-caller="<%= @current_user.token %>" data-callee="<%= user.token %>">Call</span>
    <% end %>
  </li>
<% end %>
</ul>

<div id='ringing' class='hidden'>
  <h3>Ringing....</h3>
  <span class='stop_call'>STOP</span>
</div>


<div id='answerIgnore' class='hidden'>
  <h3>Calling....</h3>
  <span class='answer'>Answer</span>
  <span class='ignore'>Ignore</span>
</div>

<script>
  var token = "<%= @token %>"
  App.task = App.cable.subscriptions.create({channel: 'ApplicationCable::UsersCallToChannel', token: token }, {
    received: function(data) {
      this.showAnswerIgnoreLinks(data);
    },
    showAnswerIgnoreLinks: function(data) {
      $('#answerIgnore .ignore').data('caller', data.caller).data('callee', data.callee)
      $('#answerIgnore .answer').data('caller', data.caller).data('callee', data.callee)
      $('#answerIgnore').show()
    }
  });
</script>

<script>
  var token = "<%= @token %>"
  App.task = App.cable.subscriptions.create({channel: 'ApplicationCable::UsersStopCallToChannel', token: token }, {
    received: function(data) {
      this.hideAnswerIgnoreLinks(data);
    },
    hideAnswerIgnoreLinks: function(data) {
      $('#answerIgnore').hide()
    }
  })
</script>

<script>
  var token = "<%= @token %>"
  App.task = App.cable.subscriptions.create({channel: 'ApplicationCable::UsersAnswerToChannel', token: token }, {
    received: function(data) {
      $('#ringing').hide()
      $('body').append('<h1>YOU HAVE AN ANSWER!</h1>')

      console.log('RoomInitialize')

      Room.initialize(data.caller + '_' + data.callee)
    }
  })
</script>

<script>
  var token = "<%= @token %>"
  App.task = App.cable.subscriptions.create({channel: 'ApplicationCable::UsersIgnoreToChannel', token: token }, {
    received: function(data) {
      $('#ringing').hide()
      $('body').append('<h1>User busy :(</h1>')
    }
  })
</script>
