<h1 id='dashboard'><%= @current_user.name %></h1>

<ul>
<% User.all.each do |user| %>
  <li>
    <span><%= user.name %></span>
    <% unless @current_user.id == user.id %>
      | <span class='make_call' data-url="<%= call_dashboards_path(callee: user.token, caller: @current_user.token) %>">Call</span>
    <% end %>
  </li>
<% end %>
</ul>

<h3 id='ringing' class='hidden'>Ringing....</h3>

<script>
  var token = "<%= @token %>"
  App.task = App.cable.subscriptions.create({channel: 'ApplicationCable::UsersCallToChannel', token: token }, {
    received: function(data) {
      this.createAnswerLink(data);
      this.createIgnoreLink(data);
    },
    createAnswerLink: function(data) {
      var link = $('<a>');
      link.attr('href', '/dashboards/answer?caller=' + data.caller + '&callee=' + data.callee);
      link.text('Answer');
      link.addClass('answer');
      link.attr('data-remote', true);
      link.appendTo( $('body') );
    },
    createIgnoreLink: function(data) {
      var link = $('<a>');
      link.attr('href', '/dashboards/ignore?caller=' + data.caller + '&callee=' + data.callee);
      link.text('Ignore');
      link.addClass('ignore');
      link.attr('data-remote', true);
      link.appendTo( $('body') );
    },
  });
</script>

<script>
  var token = "<%= @token %>"
  App.task = App.cable.subscriptions.create({channel: 'ApplicationCable::UsersAnswerToChannel', token: token }, {
    received: function(data) {
      $('body').append('<h1>YOU HAVE AN ANSWER!</h1>')

      Room.initialize(data.caller + '_' + data.callee)
    }
  })
</script>

<script>
  var token = "<%= @token %>"
  App.task = App.cable.subscriptions.create({channel: 'ApplicationCable::UsersIgnoreToChannel', token: token }, {
    received: function(data) {
      $('body').append('<h1>YOU HAVE NO ANSWER :(</h1>')
    }
  })
</script>
