<!DOCTYPE html>
<html>
  <head>
    <title>WebRTCRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://simplewebrtc.com/latest-v2.js"></script>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <div class="container">
      <%= render partial: 'layouts/flash_errors'%>
      <%= yield %>
    </div>


    <script>
      userId = "<%= session[:user_id] %>";
    </script>
  </body>
</html>

